html,
body {
  height: auto;
  width: auto;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  background-color: rgb(223, 187, 141);
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#form label {
  align-self: flex-start;
  font-size: 28px;
}

#form input {
  border-radius: 20px;
  border: 2px solid grey;
  width: 20rem;
  height: 2rem;
  font-size: 20px;
  padding-left: 10px;
}

#form button {
  border-radius: 15px;
  border: 2px solid grey;
  width: 4rem;
  height: 1.5rem;
  padding: 0 5px 0 5px;
  font-size: 14px;
}

#location-container {
  display: none;
  flex-direction: column;
  align-items: center;
  border: 2px solid grey;
  border-radius: 25px;
  padding: 10px;
  line-height: 0px;
  background: rgba(255, 255, 255, 0.253);
}

#location-city {
  text-decoration: underline;
}

#temp {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

#condition-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weather-icon {
  margin-bottom: -1rem;
}

#condition {
  font-size: 1.5rem;
  font-style: italic;
}

#feels-like {
  font-style: italic;
  font-size: 1.3rem;
}

#last-update {
  font-style: italic;
  font-size: 0.8rem;
}
